{% block body %}
    <h1>Comments list</h1>
    {% if comments is not empty %}
        {% for comment in comments %}
            <div class="media-body">

                <a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a>
                <span class="text-right">{{ post.author }}</span>
                <h4 class="media-heading">{{ comment.title }}</h4>
                <p>{{ comment.text }}</p>
               <small> <span><i class="glyphicon glyphicon-calendar"></i>{{ comment.createAt|date('Y-m-d H:i:s') }}</span></small>
                {% if comment.image is not null %}
                    <span>
                            <a href="{{ absolute_url(asset("uploads/files/"~ comment.image)) }}">{{ comment.image }}</a></span>
                    <br/>
                    <img src="{{ asset("uploads/files/"~ comment.image) }}" width="20%" height="20%">
                {% endif %}
                <hr/>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}
