{# todo cд6елать для админки другое оформление #}
{% extends "::base.html.twig" %}
{% block body %}
    <h1>Admin panel.</h1>
    <h2>All posts</h2>

    <div id="app">
        <button v-on:click="getBack">Обратно.</button>
        <button @click="update">Обновить.</button>
        <button v-on:click="getNext({{ maxPages }})"> Туда.</button>
        <p>
        <h2>Page: {{ "{{ currentPage }}" }}.</h2></p>
        <hr>
        <h3>Тестовый стенд.</h3>
        <div v-for="form in test.forms">
            <div v-html="form"></div>
        </div>
        <hr>
        <div v-for="post in posts">
            <div>{{ '{{ post.id }}' }}</div>
            <div>{{ "{{ post.title }}" }}</div>
            <div>{{ "{{ post.text }}" }}</div>
            <div>{{ "{{ post.author }}" }}</div>
            <div>{{ "{{ post.createAt.date }}" }}</div>
            <button v-on:click="deletePost(post.id)">Delete.</button>
            <a href="{{ path('post_delete', {'id': '9'}) }}">Delll</a>
            <hr>
        </div>
    </div>
    {# PAGINATION #}
    {# Render each page number #}
    {% for i in 1..(maxPages/5)| round(0, 'ceil') %}
        <span>
            {#<a href="{{ path('admin_test_json', {currentPage: i}) }}">{{ i }}</a>#}
        </span>
    {% endfor %}
{% endblock %}

{% block   javascripts %}
    <script type="text/javascript">
        var apiURL = "http://127.0.0.1:8000{{ path('admin_get_json') }}";
        function countPage() {
            app.currentPage += 1;
        }
        function substractionPage() {
            app.currentPage > 0 ? app.currentPage -= 1 : 1;
        }

        var app = new Vue({
            el: '#app',
            data: {
                /*@type json*/
                posts: null,
                test: null,
                /*@type int */
                currentPage: 1
            },
            methods: {
                getJSONText: function () {
                    $.getJSON("http://127.0.0.1:8000/admin/posts/" + this.currentPage,
                        function (json) {
                            app.posts = json;
                        });
                },
                getTest: function () {
                    $.getJSON("http://127.0.0.1:8000/admin/test", function (json) {
                        app.test = json;
                    });
                },
                getNext: function (max) {
                    if (this.currentPage < max) {
                        this.currentPage += 1;
                        this.getJSONtest(this.currentPage);
                    }

                },
                getBack: function () {
                    //this.currentPage -= 1;
                    if (this.currentPage > 1) {
                        this.currentPage -= 1;
                        this.getJSONtest(this.currentPage);
                    } else {
                        return 0;
                    }
                },
                update: function () {
                    this.getJSONtest(this.currentPage);
                },
                deletePost: function ($post_id) {
                    //window.alert('post/' + $post_id + '/delete');
                    $.ajax({
                        url: 'http://127.0.0.1:8000/post/' + $post_id + '/delete',
                        method: 'DELETE',
                        contentType: 'application/json',
                        success: function (result) {
                            window.alert(this.success())
                        },
                        error: function (request, msg, error) {
                            window.alert('Bad alert.')
                        }
                    });
                }
            },
            created: function () {
                this.getJSONText();
                this.getTest();
            }


        });

        /*$.getJSON("http://127.0.0.1:8000",
         function (json) {
         app.json = json;
         });*/
        {#{{ path('admin_test_json') }}#}
    </script>
{% endblock %}