<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {#<link rel="stylesheet" href='{{ asset('css/blog.css') }}'>#}
    {% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
            </button>
        </div>
        <a class="navbar-brand" href="#"><img
                    src="{{ asset('uploads/files/2cf1065e98e946187e55acbaf110c1e9.jpeg') }}" width="25px"
                    height="25px"></a>
        <div class="collapse navbar-collapse" id="responsive-menu">
            <ul class="nav navbar-nav mr-auto">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('post_index') }}">All posts</a></li>
                <li><a href="#">Пункт 3</a></li>
                <li><a href="#">Пункт 4</a></li>

            </ul>
            {{ render(controller('FOSUserBundle:Security:login')) }}
        </div>

    </div>
</nav>

<div class="container">



    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <hr>
    <footer>
        <p>© Company Dimas 2017</p>
    </footer>
</div>


<!-- Latest compiled and minified JavaScript -->
</body>

</html>
