{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>

            <th>Title</th>

            <th>Text</th>

            <th>Autor</th>

            <th>Crated At</th>


        </tr>
        </tbody>
    <tbody>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.text}}</td>
        <td>{{ post.autor}}</td><td>{% if post.createAt %}{{ post.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {{ include('@Posts/comment/index.html.twig', {'comments':comments} ) }}
    </ul>
{% endblock %}
